@media screen and (min-width: 1025px) {
  .l-profile{
    margin: 160px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .p-profileContents{
    margin: 20px;
    border-radius: 10px;
  }

  // モーダル
  /*モーダルを開くボタン*/
.c-modal__open{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50px;
  font-weight: bold;
  color: #fff;
  background: #000;
  margin: auto;
  cursor: pointer;
  transform: translate(-50%,-50%);
}
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.c-modal__container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.c-modal__container:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.c-modal__container.active{
  opacity: 1;
  visibility: visible;
}
/*モーダル枠の指定*/
.c-modal__body{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 90%;
}

/*モーダルを閉じるボタンの指定*/
.c-modal__close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
  .c-modal__content{
    background: #fff;
    text-align: left;
    padding: 30px;
  }

  .c-modal__open{
    width: 240px;
    height: 260px;
    object-position: 0px 0px;
    object-fit: cover;
    position: relative;
    overflow: hidden;
  }

  .c-modal__open img::before,
  .c-modal__open img::after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    margin: auto;
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    opacity: 0;
  }

  .c-modal__open img::before {
    background: rgba(190,91,70,.6);
    width: 100%;
    height: 100%;
  }

  .c-modal__open img::after {
    color: #fff;
    content: "more";
    font-size: 22px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
  }

  .c-modal__open img:hover::before,
  .c-modal__open img:hover::after{
    opacity: 1;
  }

  .c-modal__content p{
    width: 40%;
    height: 40px;
    background-color: #ccc;
  }

}